@CHARSET "UTF-8";

/*body and standard text*/

body {
	background: url('lightBackground.jpg');
	margin: 0;
	padding: 20px;
	text-align: left;
	font-family:"Verdana", "Georgia", "Times New Roman", "Times";
	font-size: 13px;
}



p{
	margin-bottom: 2em;
}
h1{
	font-size: 2em;
	padding: 0.5em;
	margin: 0;
}

h2{
	font-size: 1.5em;
	padding: 1em;
	margin: 0;

}

h3{
	font-size: 1.2em;
	color: #575c7d;  
}

/*The header*/

header{
	background-color: #000;
	color: #FFF;
    height: 193px;
    margin-bottom: 10px;
    padding: 0;
}

header h1{
	padding: 1em 0 3px 1em;
}
header p{
	padding: 0 0 0 2em;
}

header img{
	float: right;
}
header a{
	text-decoration:none;
	color: #FFF;
}


/*The navigation*/

nav {  
    display: block;
    margin-bottom: 5em;
    width: 735px;
}  
nav ul {
    list-style: none;  
}  
nav ul li {  
    display: inline;
}


nav ul li a {  
    display: block;  
    float: left;
    padding: 3px 6px;  
    color: #575c7d;  
    text-decoration: none;  
    font-weight: bold;  
}  
nav ul li a:hover {  
    background: #deff90;  
    color: #485e0f;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    padding: 3px 6px;  
    margin: 0;  
}



main{
	margin-left:auto;
	margin-right:auto;
	width: 900px;
}



/*An article with room for aside*/
article{ 
	margin-left: auto;
	margin-right: auto;
	width: 821px;
	padding: 2em;
	background-color: rgba(255, 255, 255, 0.5);
}

/*The footer*/
footer{
	clear: both;
	margin-top: 2em;
	margin-bottom: 1em;
	float: right;
}


/*error message*/
.errormessage{
	color: red;
	margin-bottom: 0;
}


/* The Guestbook form */
fieldset {
	margin: 100px auto auto auto;
	width: 300px;
	border:2px solid #575c7d;
	padding: 1em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 15px #AAAAAA;
    -moz-box-shadow: 0 0 15px #AAAAAA;
    box-shadow: 0 0 15px #AAAAAA;
}

legend{
	padding: 0.8em;
	border:1px solid #575c7d;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

fieldset input {
	
	display: block;
	width: 130px;
}

fieldset .button {
	display: inline;
	margin: 15 15px 0 0;
}

fieldset label {
	float:left;
	width: 130px;

}




@media only screen and (max-width: 775px) {
	header{
		width: 735px;
	}
}



